node { 
    size-mode: fit;
    shape: rounded-box;
    fill-color: white;
    stroke-mode: plain;
    padding: 3px, 2px;
}

edge { shape: line;
       fill-color: black;
     }

node:clicked {
    fill-color: red;
}

node:selected {
    fill-color: red;
}
